@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply xl:text-lg;
    }
    body {
        @apply text-neutral-100;
    }
    /* width */
    ::-webkit-scrollbar {
        @apply h-[10px] w-[10px];
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-neutral-600;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply rounded-xl bg-neutral-300 hover:bg-neutral-200/75;
    }

    @-moz-keyframes right-to-left {
        from {
            -moz-transform: translateX(30%);
        }
        to {
            -moz-transform: translateX(-100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes right-to-left {
        from {
            -webkit-transform: translateX(30%);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes right-to-left {
        from {
            -moz-transform: translateX(30%);
            -webkit-transform: translateX(30%);
            transform: translateX(30%);
        }
        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}

@layer components {
    .sidebar--icon {
        @apply h-6 w-6 stroke-neutral-200 transition-all duration-75 ease-in hover:stroke-neutral-100 active:scale-90;
    }
    .animation-right-to-left {
        -moz-animation: right-to-left 15s linear infinite;
        -webkit-animation: right-to-left 15s linear infinite;
        animation: right-to-left 15s linear infinite;
        @apply translate-x-1/3;
    }
}

/* linear-gradient(
                140deg,
                rgba(18, 20, 23, 0.3),
                transparent
            ), */
